button {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding: 8px;
    text-decoration: none;
    color: white;
    background-color: black;
    border-color: white;
}

body {
    background-image: url('../images/background.jpg');
}

h1 {
    color: black;
}


header {
    display: flex;
    height: 100px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    padding: 20px;
}

label { 
    color: black;
}

li {
    display: inline-block;
    margin-right: var(--m-r1);
}

nav {
    display: block;
}


.output {
    color: white;
}

.custom-font {
    font-family: "Pirata One", system-ui;
    font-weight: 400;
    font-style: normal;
    color: white;
  }

.joke {
    color: white;
}

.footer {
    position: fixed;
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.footer-item {
    text-align: center;
}

.modal-content {
    background-color: black;
    border-color: white;
}
